You will be given a question (problem specification) and will generate a correct Python program that matches the specification and passes all tests.{% if not is_thinking_model %} You will NOT return anything except for the program.{% endif %}

Question: {{ question }}

You will use the following starter code to write the solution to the problem and enclose your code within delimiters."
```python
{{ starter_code }}